<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @course.number %>
</p>

<p>
  <strong>College:</strong>
  <%= @course.college %>
</p>

<p>
  <strong>University:</strong>
  <%= @course.university %>
</p>

<p>
  <strong>Building:</strong>
  <%= @course.building %>
</p>

<p>
  <strong>Room:</strong>
  <%= @course.room %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @course.credits %>
</p>

<p>
  <strong>Students:</strong>
  <%= @course.students %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @course.teacher %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
